@import url('https://fonts.googleapis.com/css?family=Nunito');



body {
  font-family: 'Nunito', normal;
  background-color: #015249;
  color: #57bc90;
  padding: 0;
  margin: 0;
}


.description {
  background-color: white;
  border-top: 5px solid #57bc90;
  border-bottom: 5px solid #57bc90;
  color: #015249;
  height: 400px;
  width: 100%;
  padding-top: 50px;

}

.description h1{
  padding-top: 100px;
}


.description a{
  color:#015249;
    text-decoration:none;
}

.description a:hover {
  color: #77C9D4;
}

img{
  float:left;
  border: 3px solid #57bc90;
  margin: 15px;
}

.footer{
  text-align: center;
}



/* NAV BAR */

.home {
  margin: 10px;
  border: 2px solid #57bc90;
  font-size: 25px;

}

nav li a:hover{
  color: #77C9D4;
}


.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #57bc90;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
height: 20px;
}

.topnav a:hover {
  color: #77C9D4;
}

.topnav-right {
  padding-top: 10px;
  float: right;
}

/*color schemes:
CURRENT: Modernity in Full Bloom
   #182628 - (dark greenish blue, almost black)
   #65ccb8 - (mix of sky blue and seafoam green)
   #57ba98 - (darker version of color above)
   #3b945e - (leaf green)
   #f2f2f2 - (whitish gray)
POSSIBLE: Clean Gradients and Fresh Blues
   #77C9D4 - feather (sky blue)
   #57bc90 - marine (seafoam green)
   #015249 - forest (dark green with hint of blue)
   #a5a5af - sleek grey (gray .. duh)*/
