@import url('https://fonts.googleapis.com/css?family=Nunito');



body {
  font-family: 'Nunito', normal;
  background-color: #015249;
  color: #57bc90;
  margin: 0;
}


.description {
  background-color: #f2f2f2;
  border-top: 5px solid #57bc90;
  border-bottom: 5px solid #57bc90;
  color: #015249;
  height: 400px;
  width: 100%;
}



.description a{
  color:#015249;
  text-decoration:none;
}

.description a:hover {
  color: #77C9D4;
}

img{
  float:left;
  border: 3px solid #57bc90;
  margin: 15px;

}

.footer{
  text-align: center;
}



/* NAV BAR */

.topnav {
  display: flex;
  justify-content: space-between;
  padding: 35px;
 }

 .right-side {
   display: flex;
 }

 .nav-wrapper > .right-side > div {
  margin-right: 20px;
}

 .nav-link-wrapper {
  height: 21px;
}

.left-side > div > a{
  border: 2px solid #57bc90;
}

.nav-link-wrapper a {
  color: #57bc90;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  color: #77C9D4;
}

/*color schemes:
CURRENT: Modernity in Full Bloom
   #182628 - (dark greenish blue, almost black)
   #65ccb8 - (mix of sky blue and seafoam green)
   #57ba98 - (darker version of color above)
   #3b945e - (leaf green)
   #f2f2f2 - (whitish gray)
POSSIBLE: Clean Gradients and Fresh Blues
   #77C9D4 - feather (sky blue)
   #57bc90 - marine (seafoam green)
   #015249 - forest (dark green with hint of blue)
   #a5a5af - sleek grey (gray .. duh)*/
