@import url('https://fonts.googleapis.com/css?family=Nunito');
body {
    font-family: 'Nunito', normal;
    background-color: #015249;
    color: #57bc90;
    margin: 0;
}

:root {
    --skills-width: 120px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.flex-grow-1 {
    flex-grow: 1;
}

.vh-100 {
    height: 50vh;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.text-center {
    text-align: center;
}


/*MAIN DIV*/

.main {
    background-color: #f2f2f2;
    color: #015249;
    padding-top: 150px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 75px;
}

.main a {
    color: #015249;
    text-decoration: none;
}

.main a:hover {
    color: #77C9D4;
}

.footer {
    text-align: center;
    padding: 30px 0px;
}


/*PROJECTS*/

.project {
    padding: 100px 50px;
}

.to-the-right {
    float: right;
    margin-left: 30px;
}

.to-the-left {
    float: left;
    margin-right: 30px;
}


/* NAV BAR */

.topnav {
    display: flex;
    justify-content: space-between;
    padding: 35px !important;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #015249;
}

.right-side {
    display: flex;
}

.nav-wrapper>.right-side>div {
    margin-left: 20px;
}

.nav-link-wrapper {
    height: 20px;
}

.left-side>div>a {
    border: 2px solid #57bc90;
}

.nav-link-wrapper a {
    color: #57bc90;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    color: #77C9D4;
}


/*color schemes:
CURRENT: Modernity in Full Bloom
   #182628 - (dark greenish blue, almost black)
   #65ccb8 - (mix of sky blue and seafoam green)
   #57ba98 - (darker version of color above)
   #3b945e - (leaf green)
   #f2f2f2 - (whitish gray)
POSSIBLE: Clean Gradients and Fresh Blues
   #77C9D4 - feather (sky blue)
   #57bc90 - marine (seafoam green)
   #015249 - forest (dark green with hint of blue)
   #a5a5af - sleek grey (gray .. duh)*/