/*MAIN DIV*/

.main {
    background-color: #f2f2f2;
    color: #015249;
    padding: 150px 75px 75px;
}

.main a {
    color: #015249;
    text-decoration: none;
}

.main a:hover {
    color: #77C9D4;
}

.footer {
    text-align: center;
    padding: 30px 0px;
}


/*PROJECTS*/

.project {
    padding: 100px 50px;
}

.to-the-right {
    float: right;
    margin-left: 30px;
}

.to-the-left {
    float: left;
    margin-right: 30px;
}

img {
    border: 0px;
    margin: 0px;
}